@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme{
}

html, body{
    width: 100%;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Cormorant Garamond', serif;
}

nav, footer {
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-family: "Cinzel", serif;
}

@layer base{
    main {
        @apply w-full overflow-x-hidden;
    }

    nav{
        a, p {
            @apply tracking-widest;
        }
    }

    h1{
        @apply text-9xl;
    }

    h2{
        @apply text-3xl;
    }

    .playground-image{
        @apply mx-auto h-48 w-80 object-cover rounded-md opacity-80;
    }
}